ul.sidebar-panel-nav {
    list-style-type: none;
     display: table-cell;
  }
 
 ul.sidebar-panel-nav > li  {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5em;
  }
 
  li a {
     text-decoration: none;
     color: white;
   }
 
   li a:hover,
   li a:active,
   li a.router-link-active {
     color: #fa923f;
   }