body {
    background: #F1F3FA;
  }
  .profile {
    margin: 20px 0;
  }
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  .profile-usertitle-name {
    text-transform: capitalize;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  .profile-user-role {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }